
.mx-auto{
    margin: auto;
}
.heading-text{
    font-size: 2.5rem;
    color: white;
    text-shadow: 2px 3px 3px pink;
}
.button button{
    font-size:35px;
}
.row button{
    border-radius: 10px;
    border: 1px solid rgb(216, 175, 175);
}
.row button:hover{
    background-color: hwb(0 88% 7%);
}
.flex{
    display: flex;
    
}
.flex-col{
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.item-center{
    justify-content: center;
    align-items: center;
}
input{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 61px;
    font-size: 30px;
    border-radius: 10px;
}
.button{
    margin-top: 10px;
}